
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

  .text{
    font-family: 'Work Sans', sans-serif;
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    }

    .primary-btn{
    
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 20px;
        color: white;
        text-align: center;
        background-color: #FF42A5;
        margin-top: 20px;
        margin-right: 5px;
        border: none;
    }

    .title{
        color: #0B0223;
        font-family: Work Sans;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 60px;
   
    }

    body{  font-family: 'Work Sans', sans-serif;
           color:  #534C64;
    }

    *{
        margin: 0;
        padding: 0;
    }
   


    /* nav section start  */
    /* nave start  */


.nave-container{
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin:  50px 240px;
    
    
}

.logo-container{
    display: flex;
    width: 50%;
  
    /* justify-content:center; */


}

.logo-container img{
    width: 100px;
    object-fit: cover;
    margin-right: 20px;
   

}

.logo-container p{
    font-size:40px;
    font-weight: 700;
}

.logo-items-container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    

}

.logo-items-container a{
    text-decoration: none;
    color: #3C354F;
}




.logo-items-container a.login-btn{
  
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
    text-align: center;
    background: rgba(11, 2, 35, 0.10);
}

.fa-youtube{
    color: red;
    margin-right: 5px;
}

/* nave end  */

 /* banner section start   */

 .banner-container{
    background-color: #FFF;
    margin-bottom: 50px;
 }
 .banner-content{

    display: flex;
    padding: 70px 240px;
    align-items: center;
    justify-content: space-around;

 }

 
 .banner-head{
    
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .banner-description{
    width: 50%;
   

 }

 .banner-img{
    width: 50%;
   

    

 }
 .banner-img img{
    width: 100%;
 }

 .banner-downimg{
    display: flex;
    justify-content:space-around;
    margin-bottom: 0px;
 }

 .banner-downimg img{
    width: 50%;
    margin-bottom: 0px;
 }


 /* banner section end  */

  /* online game section start  */

  .onlin-container{

    margin: 70px 240px;


  }

  .online-game-cotent{
    text-align: center;
    margin-bottom: 50px;
  }

  .online-game-cotent h3{
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
  }
  .funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
  }


  .online-game-cotent p{

    font-size: 12px;

  }

  .online-game-img{
    display: grid;
    gap: 18px;
    grid-template-columns:repeat(4,1fr)
    
  }
  .online-game-img img{
    width:100%;
  }
  .online-game-img p{
    
    color: #534C64;
    font-size: 14px;
    font-weight: 500;
    line-height:20px;
  }

  /* online game section end  */


   /* no download section start  */
    
   .no-dowonload-container{

    display: flex;
    padding:  70px 240px;
    align-items: center;
    gap: 30px; 
    margin-bottom:50px ;
   

   }

   
   .no-dowonload-conteant{
    width: 40%;
    text-align: right;
    display: grid;
    

   }

   .no-dowonload-conteant p{

    font-size: 14px;
    line-height:25px;

   }

   .no-dowonload-conteant h3{
    font-size: 30px;
    line-height: 30px;
   }

   .no-dowonload-img{

    width: 60%;
    height: 500px;
    
    
   }

   .no-dowonload-img img{
    width: 100%;
   }

   .lower-img{
    width:500px;
    height: 500px;
    border-radius: 8px;
    
   }

   .upper-img{
    border-radius: 8px;
    border: 10px solid #FFF;
    width: 180px;
    height: 250px;
    position: relative;
    bottom:210px;
    
     
   }
   /* no download section end  */
  

  









/* mobile response  */

@media screen and (max-width:425px) {

    
.nave-container{
    flex-direction: column;
    margin: 0;
   
}
.logo-items-container{
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    

}

.logo-container{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top:70px ;
}

.logo-items-container a{
    padding-bottom: 20px;
}
/* end nav  */

.banner-content{

    flex-direction: column;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;

 }

 .banner-downimg{
    
 }

 .banner-head{
    font-size: 40px;
 }
 .title{
    font-size: 20px;
 }

 /* end bener  */

 /* online game section start  */
  
 .online-game-img{
    grid-template-columns: repeat(1,1fr);
    width: 70%;
    text-align: center;
    margin: 0 auto;
   
  }

  .online-game-cotent{
    text-align: center;
  }
  .onlin-container{
    margin:70px 0px;
    text-align: center;
  }

  .online-game-cotent h3{
    font-size: 30px;
  }
  .funny-videos{
    font-size: 30px;
  }

 /* online game section end  */

  /* no download section start  */
  
  .no-dowonload-container{
    padding: 0;
    margin: 0;
    flex-direction: column;
  }

  .no-dowonload-conteant{

    grid-template-columns: repeat(1,1fr);
    width: 100%;
    text-align: center;

  }

  .no-dowonload-conteant h3{
    font-size: 20px;
  }
  .no-dowonload-conteant p{

    font-size: 12px;

  }

  .no-dowonload-img{
    width: 400px;
    text-align: center;
    
  }

  .no-dowonload-img img{
    width: 70%;
    height: 70%;
   }

   .upper-img{
    border-radius: 5px;
    border: 5px solid #FFF;
    width: 160px;
    height: 230px;
    position: relative;
    bottom:170px;
   }

  /* no download section end  */


}







/* response for tablet  */

@media screen  and (min-width:425px) and (max-width:768px)  {
    

    
.nave-container{
    flex-direction: column;
    margin: 0;
   
}
.logo-items-container{
    flex-direction: column;
    margin-top: 20px;
    

}

.logo-container{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top:70px ;
    margin-bottom: 30px;
}

.logo-items-container a{
    padding-bottom: 30px;
    font-size: 35px;
}

.logo-container img{
    width: 100px;
    object-fit: cover;
    margin-right: 20px
   

}

.logo-container p{
    font-size:40px;
    
}

/* end nav  */

/* banner start  */
.banner-content{

    flex-direction: column;
    padding: 0;
    text-align: center;
    margin-bottom: 40px;

 }



 .banner-head{
    font-size: 40px;
 }
 .title{
    font-size: 20px;
    margin-bottom: 20px;
 }

 .banner-img{
    margin-top: 30px;
 }

 /* end banner  */

 /* online game section start  */
 .online-game-img{
    grid-template-columns: repeat(1,1fr);
    width: 70%;
    text-align: center;
    margin: 0 auto;
   
  }

  .online-game-cotent{
    text-align: center;
  }
  .onlin-container{
    margin:70px 0px;
    text-align: center;
  }

  .online-game-cotent h3{
    font-size: 30px;
  }
  .funny-videos{
    font-size: 30px;
  }
  .online-game-img{
    padding-bottom: 20px;
  }
 /* online game section end  */

   /* no download section start  */
  
   .no-dowonload-container{
    padding: 0;
    margin: 0;
    flex-direction: column;
  }

  .no-dowonload-conteant{

    grid-template-columns: repeat(1,1fr);
    width: 100%;
    text-align: center;

  }

  .no-dowonload-conteant h3{
    font-size: 20px;
  }
  .no-dowonload-conteant p{

    font-size: 12px;

  }

  .no-dowonload-img{
    width: 400px;
    text-align: center;
    
  }

  .no-dowonload-img img{
    width: 100%;
  
   }

   .upper-img{
    border-radius: 5px;
    border: 5px solid #FFF;
    width: 160px;
    height: 230px;
    position: relative;
    bottom:170px;
   }

  /* no download section end  */


}