
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

  .text{
    font-family: 'Work Sans', sans-serif;
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    }

    .primary-btn{
    
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 20px;
        color: white;
        text-align: center;
        background-color: #FF42A5;
        margin-top: 20px;
        margin-right: 5px;
        border: none;
    }

    .title{
        color: #0B0223;
        font-family: Work Sans;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 60px;
   
    }

    body{  font-family: 'Work Sans', sans-serif;}

    *{
        margin: 0;
        padding: 0;
    }
   


    /* nav section start  */
    /* nave start  */


.nave-container{
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin:  50px 240px;
    
    
}

.logo-container{
    display: flex;
    width: 50%;
  
    /* justify-content:center; */


}

.logo-container img{
    width: 100px;
    object-fit: cover;
    margin-right: 20px;
   

}

.logo-container p{
    font-size:40px;
    font-weight: 700;
}

.logo-items-container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    

}

.logo-items-container a{
    text-decoration: none;
    color: #3C354F;
}




.logo-items-container a.login-btn{
  
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
    text-align: center;
    background: rgba(11, 2, 35, 0.10);
}

.fa-youtube{
    color: red;
    margin-right: 5px;
}

/* nave end  */

 /* banner section start   */

 .banner-container{
    background-color: #FFF;
    margin-bottom: 50px;
 }
 .banner-content{

    display: flex;
    padding: 70px 240px;
    align-items: center;
    justify-content: space-around;

 }

 
 .banner-head{
    
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .banner-description{
    width: 50%;
   

 }

 .banner-img{
    width: 50%;
   

    

 }
 .banner-img img{
    width: 100%;
 }

 .banner-downimg{
    display: flex;
    justify-content:space-around;
    margin-bottom: 0px;
 }

 .banner-downimg img{
    width: 50%;
    margin-bottom: 0px;
 }


 /* banner section end  */














/* mobile response  */

@media screen and (max-width:425px) {

    
.nave-container{
    flex-direction: column;
    margin: 0;
   
}
.logo-items-container{
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    

}

.logo-container{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top:70px ;
}

.logo-items-container a{
    padding-bottom: 20px;
}
/* end nav  */

.banner-content{

    flex-direction: column;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;

 }

 .banner-downimg{
    
 }

 .banner-head{
    font-size: 40px;
 }
 .title{
    font-size: 20px;
 }

 /* end bener  */

}







/* response for tablet  */

@media screen  and (min-width:425px) and (max-width:768px)  {
    

    
.nave-container{
    flex-direction: column;
    margin: 0;
   
}
.logo-items-container{
    flex-direction: column;
    margin-top: 20px;
    

}

.logo-container{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top:70px ;
    margin-bottom: 30px;
}

.logo-items-container a{
    padding-bottom: 30px;
    font-size: 35px;
}

.logo-container img{
    width: 100px;
    object-fit: cover;
    margin-right: 20px
   

}

.logo-container p{
    font-size:40px;
    
}

/* end nav  */

/* banner start  */
.banner-content{

    flex-direction: column;
    padding: 0;
    text-align: center;
    margin-bottom: 40px;

 }



 .banner-head{
    font-size: 40px;
 }
 .title{
    font-size: 20px;
    margin-bottom: 20px;
 }

 .banner-img{
    margin-top: 30px;
 }

 /* end banner  */



}